## Transform

Transform data (extracted as 51 individual CSV files) into one large dataframe. Clean up and create unique rows and columns

In [1]:
import pandas as pd

In [2]:
# Read CSV
alabama = pd.read_csv("../Data/States/Alabama.csv")

In [3]:
# Set Age (AGEP) as index
alabama = alabama.set_index("Age (AGEP)")
alabama

,Total,Alabama/AL,Alaska/AK,Arizona/AZ,Arkansas/AR,California/CA,Colorado/CO,Connecticut/CT,Delaware/DE,District of Columbia/DC,...,"South America, Not Specified",Egypt,Ethiopia (2017 or later),Kenya (2017 or later),Nigeria,"Western Africa, Not Specified","Northern Africa or Other Africa, Not Specified","Eastern Africa, Not Specified",Australia,"Other US Island Areas, Oceania, Not Specified, or At Sea"
Age (AGEP),,,,,,,,,,,,,,,,,,,,,
-> Total,319852,253611,429,868,859,1674,983,393,64,167,...,162,36,0,12,105,0,69,103,109,128
-> Total ->,319852,253611,429,868,859,1674,983,393,64,167,...,162,36,0,12,105,0,69,103,109,128
Total 12th grade - no diploma,7237,5807,0,4,0,63,9,99,0,0,...,0,0,0,0,0,0,0,0,0,0
25 years Total 12th grade - no diploma,260,191,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26 years Total 12th grade - no diploma,336,287,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71 years Total Doctorate degree,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72 years Total Doctorate degree,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73 years Total Doctorate degree,8,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74 years Total Doctorate degree,10,0,0,0,0,0,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75 years Total Doctorate degree,60,45,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Transpose to switch rows with columns
alabama_df = alabama.T

In [5]:
# Add "To_State" so that each origin state on far left shows which state they moved to on far right
# Makes data multi-dimensional

alabama_df["To_State"] = "Alabama"

In [6]:
# Code for one state
alabama = pd.read_csv("../Data/States/Alabama.csv").set_index("Age (AGEP)").T
alabama["To_State"] = "Alabama"
alabama

Age (AGEP),-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,319852,319852,7237,260,336,227,132,275,265,339,...,32,2,2,31,0,4,8,10,60,Alabama
Alabama/AL,253611,253611,5807,191,287,227,125,163,178,231,...,13,2,0,31,0,4,8,0,45,Alabama
Alaska/AK,429,429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arizona/AZ,868,868,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arkansas/AR,859,859,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Northern Africa or Other Africa, Not Specified",69,69,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Eastern Africa, Not Specified",103,103,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Australia,109,109,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Other US Island Areas, Oceania, Not Specified, or At Sea",128,128,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama

In [8]:
# All states in Data folder
states_list = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", \
               "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", \
              "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", \
              "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", \
              "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", \
              "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", \
              "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

# Dictionary to hold state name as key, dataframe as value
dict_state = {}

# For loop to iterate through all states to shape data
for state in states_list:
    df = pd.read_csv(f'../Data/States/{state}.csv').rename(columns = {"Age (AGEP)":"Origin"}).T
    df["To_State"] = f'{state}'
    dict_state[state] = df

FileNotFoundError: [Errno 2] No such file or directory: '../Data/States/Massachusetts.csv'

In [ ]:
# Can call any state dataframe when using state name as dictionary key
dict_state["South_Dakota"]

In [ ]:
# Concat all dataframes stored in dict_state and save as "all_states_df"
all_states_df = pd.concat(dict_state.values(), ignore_index=False)

all_states_df

In [ ]:
df2 = all_states_df.rename(columns={"index":"Origin"})
df2

In [ ]:
df2.sum(axis=1)

In [ ]:
del_total = []
for x in df2.columns:
    if x #contains the word total

In [ ]:
df2

## Load

Create engine and load all_states_df into SQL database

In [ ]:
# Dependencies
from login import port, pw
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base

In [ ]:
# Create engine
# engine = create_engine(f'postgresql://postgres:{pw}@localhost:{port}/interstate_migration_db')
engine = create_engine("postgresql://postgres:postgres@localhost:5432/interstate_migration_db")

# Connect to pgAdmin 4
conn = engine.connect()

In [ ]:
base = automap_base()
base.prepare(engine, reflect=True)
base.classes.keys()

In [ ]:
# Load all_states_df into Postgres database
all_states_df.to_sql(name="states", con=engine, if_exists="replace", index=True)

In [ ]:
# Confirm table names
engine.table_names()

In [ ]:
# Query database for all listings from states
df = pd.read_sql_query("SELECT * FROM states", con=engine)
df.head()

In [ ]:
# Keep
df = df.rename(columns={"index":"Origin"})

In [ ]:
# Keep
df.set_index(["To_State", "Origin"], inplace=True)

In [ ]:
# Keep
df.head()

In [ ]:
# Keep
df.sum(axis=1)

In [ ]:
# Keep
del_t = []
for x in df.columns:
    if x #contains the word total

In [ ]:
# Keep
#Isolate From state (index) and to state, and

In [ ]:
# Keep
#df[index, to_state, -> Total]

In [ ]:
# Keep
#group index by index and to_state and get sum of the total
#groupby dataframe, if doesn't match statelist, do not include it

In [ ]:
# Keep
all_states_df.set_index("To_State", inplace=True)

In [ ]:
# Keep
all_states_df.loc["Alabama", " -> Total"].iloc[3:].sum()

In [ ]:
# Keep
all_states_df.columns

In [ ]:
# Keep
all_states_df.loc["Alabama"]

In [ ]:
# Keep
list(all_states_df.columns)
drop_these = [" -> Total", " -> Total ->"]

In [ ]:
# Keep
all_states_df["Origin"]

In [ ]:
# Keep
## need state to be a column, need origin to be a column
# reset index so they can be columns