In [1]:
import pandas as pd

In [2]:
# Read CSV
alabama = pd.read_csv("../Data/States/Alabama.csv")

In [3]:
# Set Age (AGEP) as index
alabama = alabama.set_index("Age (AGEP)")
alabama

,Total,N/A (person less than 1 year old/lived in same house 1 year ago),Alabama/AL,Alaska/AK,Arizona/AZ,Arkansas/AR,California/CA,Colorado/CO,Connecticut/CT,Delaware/DE,...,"South America, Not Specified",Egypt,Ethiopia (2017 or later),Kenya (2017 or later),Nigeria,"Western Africa, Not Specified","Northern Africa or Other Africa, Not Specified","Eastern Africa, Not Specified",Australia,"Other US Island Areas, Oceania, Not Specified, or At Sea"
Age (AGEP),,,,,,,,,,,,,,,,,,,,,
-> Total,2691147,2371295,253611,429,868,859,1674,983,393,64,...,162,36,0,12,105,0,69,103,109,128
-> Total -> Total Alabama,2691147,2371295,253611,429,868,859,1674,983,393,64,...,162,36,0,12,105,0,69,103,109,128
-> Total -> Total Alabama -> Total 12th grade - no diploma,57402,50165,5807,0,4,0,63,9,99,0,...,0,0,0,0,0,0,0,0,0,0
25 years,1193,933,191,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26 years,1700,1364,287,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71 years,722,722,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72 years,577,573,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73 years,572,564,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74 years,496,486,0,0,0,0,0,10,0,0,...,0,0,0,0,0,0,0,0,0,0
75 years,475,415,45,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Transpose to switch rows with columns
alabama_df = alabama.T

In [5]:
# Add "To_State" so that each origin state on far left shows which state they moved to on far right
# Makes data multi-dimensional

alabama_df["To_State"] = "Alabama"

In [6]:
# Code for one state
alabama = pd.read_csv("../Data/States/Alabama.csv").set_index("Age (AGEP)").T
alabama["To_State"] = "Alabama"
alabama

Age (AGEP),-> Total,-> Total -> Total Alabama,-> Total -> Total Alabama -> Total 12th grade - no diploma,25 years,26 years,27 years,28 years,29 years,30 years,31 years,...,67 years,68 years,69 years,70 years,71 years,72 years,73 years,74 years,75 years,To_State
Total,2691147,2691147,57402,1193,1700,1196,1184,1936,1845,1447,...,602,510,586,725,722,577,572,496,475,Alabama
N/A (person less than 1 year old/lived in same house 1 year ago),2371295,2371295,50165,933,1364,969,1052,1661,1580,1108,...,570,508,584,694,722,573,564,486,415,Alabama
Alabama/AL,253611,253611,5807,191,287,227,125,163,178,231,...,13,2,0,31,0,4,8,0,45,Alabama
Alaska/AK,429,429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arizona/AZ,868,868,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Northern Africa or Other Africa, Not Specified",69,69,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Eastern Africa, Not Specified",103,103,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Australia,109,109,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Other US Island Areas, Oceania, Not Specified, or At Sea",128,128,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama

In [7]:
# All states in Data folder
states_list = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", \
               "Delaware", "District_of_Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", \
              "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", \
              "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New_Hampshire", \
              "New_Jersey", "New_Mexico", "New_York", "North_Carolina", "North_Dakota", "Ohio", "Oklahoma", "Oregon", \
              "Pennsylvania", "Rhode_Island", "South_Carolina", "South_Dakota", "Tennessee", "Texas", "Utah", \
              "Vermont", "Virginia", "Washington", "West_Virginia", "Wisconsin", "Wyoming"]

# Dictionary to hold state name as key, dataframe as value
dict_state = {}

# For loop to iterate through all states to shape data
for state in states_list:
    df = pd.read_csv(f'../Data/States/{state}.csv').set_index("Age (AGEP)").T
    df["To_State"] = f'{state}'
    dict_state[state] = df

In [9]:
# Can call any state dataframe when using state name as dictionary key
dict_state["California"]

Age (AGEP),-> Total,-> Total -> Total California,-> Total -> Total California -> Total 12th grade - no diploma,25 years,26 years,27 years,28 years,29 years,30 years,31 years,...,67 years,68 years,69 years,70 years,71 years,72 years,73 years,74 years,75 years,To_State
Total,21084844,21084844,623522,16605,15412,14455,15288,14576,17571,13834,...,7503,7331,7104,6831,6721,7279,6170,5401,5393,California
N/A (person less than 1 year old/lived in same house 1 year ago),18402894,18402894,556943,14160,12633,12203,12835,11786,15189,11746,...,7167,6939,6485,6371,6357,6732,5884,4968,5192,California
Alabama/AL,2174,2174,41,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California
Alaska/AK,2083,2083,16,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California
Arizona/AZ,17511,17511,278,1,0,0,32,28,0,0,...,0,0,0,12,0,0,0,0,0,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",339,339,24,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California
"Northern Africa or Other Africa, Not Specified",1068,1068,25,0,0,0,0,0,11,0,...,0,0,0,0,0,0,0,0,0,California
"Eastern Africa, Not Specified",561,561,107,0,0,66,0,41,0,0,...,0,0,0,0,0,0,0,0,0,California
Australia,3401,3401,33,0,0,0,0,0,0,12,...,0,0,0,0,0,0,0,0,0,California
"Other US Island Areas, Oceania, Not Specified, or At Sea",2455,2455,121,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California